# Ignorar entorno virtual
venv/

# Ignorar cachés de Python
__pycache__/
*.pyc

# Configuraciones locales de VS Code
.vscode/

# Archivos de sistema 
Thumbs.db
.DS_Store

# Ignorar el modelo YOLOv5 y muestras locales
resources/model/
resources/samples/
